<div class="section">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        FORMS DEMO
                    </div>
                </div>
                <div class="card-content">
                    <form (ngSubmit)="onFormSubmit(formRef)" #formRef="ngForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input ngModel class="form-control input" type="text" name="name" required minlength="3"/>
                            <p class="error-text" *ngIf="formRef.controls['name']?.errors?.['required']">Name Should not be empty</p>
                            <p class="error-text" *ngIf="formRef.controls['name']?.errors?.['minlength']">Name Should not be less than 3 chars.</p>
                        </div>
                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea ngModel class="form-control input" type="text" name="body"></textarea>
                        </div>

                        <button class="button is-link" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Posts
                    </div>
                </div>
                <div class="card-content">
                    <div class="post" *ngFor="let post of posts;let i=index;">
                        <h1 class="is-size-3">{{post['name']}}</h1>
                        <p>{{post['body']}}</p>
                        <p>{{post['createdAt']}}</p>
                        <p>{{post['id']}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>