<div class="section">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="card">
        <div class="card-header">
          <h2 class="card-header-title">Home Component</h2>
        </div>
        <div class="card-content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            voluptatem officia quidem maiores id aliquid provident ratione
            corporis vero accusantium, aut hic quod sapiente? Quae beatae itaque
            adipisci cumque alias.
          </p>
          <button class="button is-link" (click)="logAndGoToUsers()">Go to users</button>
        </div>
      </div>
    </div>
  </div>
</div>
