
<div class="product-view">
    <div class="card">
      <div class="card-header">
          <p class="card-header-title">
              {{product.name}}
            </p>
      </div>
      <div class="card-content">
        {{product.description}}
        <p [ngClass]="product.price != undefined && product.price > 500 ? 'high-price': ''"><strong>PRICE</strong> {{product.price | currency:'INR'}}</p>
        
        <p><strong>CREATED</strong> : {{product.createdAt | date}}</p>
      </div>
    </div>
  </div>
  