<div class="product-view">
    <div class="card">
      <div class="card-header">
          <p class="card-header-title">
              {{selectedProduct.name}}
            </p>
      </div>
      <div class="card-content">
        {{selectedProduct.description}}
        <p [ngClass]="selectedProduct.price != undefined && selectedProduct.price > 500 ? 'high-price': ''"><strong>PRICE</strong> {{selectedProduct.price | currency:'INR'}}</p>
        
        <p><strong>CREATED</strong> : {{selectedProduct.createdAt | date}}</p>
      </div>
    </div>
  </div>
  