<div class="product-view">
    <div class="card">
      <div class="card-header">
          <p class="card-header-title">
              {{selectedProduct.name}}
            </p>
      </div>
      <div class="card-content">
        {{selectedProduct.description}}
        <p><strong>PRICE</strong> {{selectedProduct.price}}</p>
        <p><strong>DEPARTMENT</strong> {{selectedProduct.department}}</p>
        <p><strong>CREATED</strong> : {{selectedProduct.createdAt}}</p>
      </div>
    </div>
  </div>
  