<div class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        <p>Login</p>
                    </div>
                </div>
                <div class="card-content">
                    <form (ngSubmit)="login(form)" #form="ngForm">
                        <input class="input m-2" type="text" placeholder="email" ngModel name="email">
                        <input class="input m-2" type="password" placeholder="pass" ngModel name="password">
                        <button class="button is-link m-2" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
